<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/success.png">   
    <title>Social-finders</title>
</head>

<body>
    <div class="inner contact">
        <div data-spy="affix" data-offset-top="121">
        <nav class="navbar navbar  col-lg-12" role="navigation">
            <h1 class="title">BIENVENIDO</h1>
        </nav>
        </div>
        <div class="darkElegance">
            <input type="hidden" id="execution">
                <div class="col-xs-9 wow animated slideInRight" data-wow-delay=".5s">
                    <h6>Por favor, ingrese las URL que desea consultar. Sólo debe haber una url por cada línea.</h6>
                    <textarea name="message" id="message" class="form textarea" placeholder="URL(s)"></textarea>
                </div>
                <div class="relative fullwidth col-xs-3 " style="margin-top: 80px">
                    <button id="elbutton" class="form-btn semibold">Consultar Redes</button>
                    <button id="csvbutton">Descargar CSV</button>
                </div>       


            <div class="clear"></div>
        </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead class="thead-inverse">
                        <tr>
                            <th>URL</th>
                            <th>Facebook</th>
                            <th>Twitter</th>
                            <th>Google+</th>
                            <th>Instagram</th>
                            <th>Pinterest</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>        
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
<script src="main.js"></script>

</html>